body{
  margin: 0;
  /* padding: ; */
  background-image: linear-gradient(lightgray, #538371, #23525E);
  line-height: 1.5em;
  font-family: helvetica, sans-serif;
  text-align: center;
}
head{
  background-color: lightgray;
}

img{
  max-width:100%;
}

nav{
  background: #23525E;
  text-align: center;
  font-family: helvetica, sans-serif;
}

footer p{
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
}

nav a{
  padding: 1%;
  color: white;

  display: inline-block;
  text-decoration: none;
}

nav a:hover{
  text-decoration: underline;
}
h1{
  font-size: 5em;
  text-align: center;
  color: white;

}

h2{
  font-size: 4em;
  text-align: center;
  padding-bottom: 5px;
  padding-left: 0;
  padding-right: 0;
  color:#23525E;
}

h3{
  font-size: 1.2em;
  line-height: 1em;
  text-align: left;
  padding-left: 20px;
  background-color: lightgray;
  padding: 15px;
  color: #23525E;
}

.logo{
  max-width: 500px;
}

.center{
  width: 80%;
  display: block;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;


}

.hero-image{
  height: 50vh;
  max-width: 100%;
  background-image: url("products.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: invert(80%);
  position: relative;



}

.hero-text{
  position: absolute;
  top: 35%;
  bottom: 20%;
  left: auto;
  right: auto;
  font-size: 4.4em;
  line-height: 1.5em;
  font-weight: 800;
  color: #DB8E7E;
  justify-content: center;

  transform: translate(-50%);
  display: inline;

}

.button{
  font-family: helvetica, sans-serif;
  background-color: #216574;
  cursor: pointer;
  color: white;
  position: absolute;
  bottom: 60px;
  transition: 0.3s;
  /* margin-top: 50%; */
  right: 10%;
  padding: 10px 25px;
  text-align: center;
  display: inline-block;
  font-size: 17px;
  border-radius: 10px;
  box-shadow: 5 5px gray;
  }

.button:hover{
  background-color: #3e8e41;
  opacity: 1}



.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);


}

.group{
  /* NOTE Changes for mobile first */
  /* width: 300px; */
  /* display: flex; */
  /* flex-direction: column; */
  text-align: left;
  /* padding: 20px; */
  margin-right: auto;
  margin-left: auto;
  color: white;
  /* align-items: center; */
}

/* .grid-container1 {
  max-width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  background-color: #216574;
  padding: 10px;
  margin: 10px;
  justify-content: center;
} */
.grid-container2 {
  max-width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  background-color: #216574;
  padding: 10px;
  /* margin-left: 50px; */
  margin: auto;
  justify-content: center;

}

.grid-container3 {
  width: 90%;
  display: grid;
  grid-template-columns: auto auto;
  /* grid-gap: 80px; */
  background-color: #216574;
  padding: 10px 0;
  /* margin-left: 50px; */
  margin: auto;
  justify-content: center;

}

ol{
  width: 90%;
  padding: 1px;
}

.grid-item {
  background-color: white;
  border: 5px solid #216574;
  padding: 10px;
  font-size: 1.2em;
  text-align: center;

}

.grid-item3 {
  /* background-color: white; */
  /* border: 5px solid #216574; */

  padding: 10px;
  font-size: 1.2em;
  text-align: left;
  color: white;

}




.group1 {
  width: 80%;
  display: flex;
  flex-direction: column; */
  text-align: left;
  padding: 5px;
  margin-right: auto;
  margin-left: auto;
  color: black;
  /* align-items: center; */
}

.group div{
  width: 400px;
  /* display: flex; */
  flex-basis: 300px;
  flex-grow: 1;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  align-items: center;
}


.info{
  max-width: 100%;
  text-align: left;
  float: left;
  /* padding-top: 5px;
  padding-left: 20px; */
  padding: 10px 0;
  color: black;

}

.map{
  width: 100%;



}

.float{
  float: left;
  /* text-align: left; */
  /* padding-left: 20px; */
  width: 100%;
  padding-left: 5px;
  display: inline-block;
  margin: auto;
  max-width: 100%;
  padding-bottom: 20px;
}

p{
  text-align: left;
  padding-left: 20px;
}
/* .span img{
  max-width: 300px;
  padding-bottom: 20px;
} */



.contact-form{
  width: 90%;
  margin: auto;
  background-color: lightgray;
  padding: 10px 0;
  padding-left: 20px;

  /* display: inline-block; */
  text-align: left;
  color: #216574;

}

.contact-form input, .contact-form textarea{
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  font-size: 1.1em;
  box-sizing: border-box;

}

.contact-form textarea{
  width: 90%;
}
.contact-form input{
  height: 28px;
  padding-left: 8px;
}

.contact-form input[type="submit"]{
  background-color: lightgray;
  padding-top: 5px;
  padding-bottom: 7px;
  width: 150px;

  display: inline-block;
  height: 1.5em;


}

figcaption{
  font-size: 1em;
  line-height: 1em;

}

footer{
  width: 100%;
  display: inline-block;
  flex-wrap: wrap;
  background-color: lightgray;
  padding: 8px 0;
  margin: auto;
  color: #23525E;

}



@media screen and (min-width: 700px) {
    .group{
      display: flex;
      flex-basis: 300px;
      flex-direction: row;
    }
      .info{
        width: 90%;
        margin: auto;

      }
      /* .hero{
        width: 400px;
        height:40vh;

      } */
      .contact-form{
        max-width: 100%;
        /* float: left; */
      }

      .grid-item3{
        width: 50%;
      }

      .grid-container2{
        width: 70%;
        margin: auto;
      }

      .grid-container3{
        width: 70%;
        margin: auto;
      }

}
/* FOR DESKTOP */
@media screen and (min-width: 1300px) {
        /* .hero{
          height: 120vh;

        } */


}
