body{
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-image: linear-gradient(#538371, #23525E);
  line-height: 1.5em;
  font-family: helvetica, sans-serif;
  text-align: center;
}

header{
  background-color: lightgray;
}

nav{
  background: #23525E;
  text-align: center;
  font-family: helvetica, sans-serif;
}

a {
  color: inherit;
}

nav a{
  padding: 20px;
  color: white;
  margin-left: 20px;
  display: inline-block;
  text-decoration: none;
}

nav a:hover{
  text-decoration: underline;
}
h1{
  font-size: 5em;
  text-align: center;
}

h2{
  font-size: 5em;
  text-align: center;
  background-color: lightgray;
  padding:20px;
  padding-left: 0;
  padding-right: 0;

  color:#23525E;
}

.hero-image {
  background: url("hairproducts.jpg") no-repeat center fixed;
  background-repeat: no-repeat;
  height: 500px;
  background-size: cover;
  background-position: center;
}

.logo{
  min-width: 50%;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
}

.flex-container {
  width: 25%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color:#23525E;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
  border: solid;
  border color: #134B66;
  flex-wrap: wrap;
  color: white;
}

.flex-container div {
  text-align: center;
  line-height: 20px;

}

.group{
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  margin-right: auto;
  margin-left: auto;
  color: white;
  align-items: center;
}

.group img{
  min-width: 50%;
  display: flex;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  align-items: center;
}


.info{
  text-align: center;

}

figcaption{
  font-size: 2em;

}

footer{
  display: inline;
  flex-wrap: wrap;
  background-color: lightgray;
  padding: 10px;
  color: #23525E;

}

@media screen and (min-width: 700px) {
        .logo{
            /* width: 350px; */
        }
}

@media screen and (min-width: 1300px) {
        .hero{

        }

}
